.option-box {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.option-box.selected {
    background-color: #ddd;
}

.status-box {
    width: 80px;
    height: 30px;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
}

.option-box.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.not-selectable {
    color: #ccc;
    cursor: not-allowed;
}
